manifest {
    author            = 'Trevor F. Freeman; Ryan D. Kuster'
    defaultBranch     = 'main'
    recurseSubmodules = false
    description       = 'A Nextflow pipeline for RNA-seq analysis built on utia-gc/ngs.'
    mainScript        = 'main.nf'
    name              = 'utia-gc/rnaseq'
    nextflowVersion   = '!>=24.04'
    version           = 'v0.3.2'
}

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

params {
    /*
    ---------------------------------------------------------------------
        Input/output options
    ---------------------------------------------------------------------
    */
    // input options
    projectTitle = null
    samplesheet  = null

    // reference options
    genome      = null
    annotations = null

    // publish options
    publishDirData    = "${launchDir}/data"
    publishDirReports = "${launchDir}/reports"
    publishMode       = 'copy'

    /*
    ---------------------------------------------------------------------
        Read-trimming parameters
    ---------------------------------------------------------------------
    */
    trimTool       = 'fastp'
    adapterFasta   = "${projectDir}/assets/NO_FILE"

    /*
    ---------------------------------------------------------------------
        Mapping parameters
    ---------------------------------------------------------------------
    */
    mapTool = 'star'

    /*
    ---------------------------------------------------------------------
        Skip steps options
    ---------------------------------------------------------------------
    */
    skipTrimReads         = false
    skipRawReadDepth      = false
    skipPrealignReadDepth = false
}


/*
---------------------------------------------------------------------
    Import config files
---------------------------------------------------------------------
*/
includeConfig 'conf/args.config'
includeConfig 'conf/containers.config'
includeConfig 'conf/plugins.config'
includeConfig 'conf/reporting.config'
includeConfig 'conf/resources.config'


includeConfig 'conf/isaac.config'
profiles {
    exploratory {
        params {
            publishDirData    = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}/data"
            publishDirReports = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}/reports"
            publishMode       = 'symlink'
        }
        resume = true
    }

    nf_test {
        includeConfig 'conf/nf_test.config'
    }
}
