manifest {
    author            = 'Trevor F. Freeman; Ryan D. Kuster'
    defaultBranch     = 'main'
    recurseSubmodules = false
    description       = 'A Nextflow pipeline for RNA-seq analysis built on utia-gc/ngs.'
    mainScript        = 'main.nf'
    name              = 'utia-gc/rnaseq'
    nextflowVersion   = '!>=24.04'
    version           = 'v0.6.1'
}

timestamp = new java.util.Date().format('yyyy-MM-dd_HH-mm')

params {
    /*
    ---------------------------------------------------------------------
        Input/output options
    ---------------------------------------------------------------------
    */
    // input options
    projectTitle   = null
    exploratoryTag = null
    samplesheet    = null

    // reference options
    genome      = null
    annotations = null

    // publish options
    publishDirData    = "${launchDir}/data"
    publishDirReports = "${launchDir}/reports"
    publishMode       = 'copy'

    /*
    ---------------------------------------------------------------------
        Read-trimming parameters
    ---------------------------------------------------------------------
    */
    trimTool       = 'fastp'
    adapterFasta   = "${projectDir}/assets/NO_FILE"

    /*
    ---------------------------------------------------------------------
        Mapping parameters
    ---------------------------------------------------------------------
    */
    mapTool = 'star'

    /*
    ---------------------------------------------------------------------
        Skip steps options
    ---------------------------------------------------------------------
    */
    skipTrimReads         = false
    skipRawReadDepth      = true
    skipPrealignReadDepth = true
}


/*
---------------------------------------------------------------------
    Import config files
---------------------------------------------------------------------
*/
includeConfig 'conf/args.config'
includeConfig 'conf/containers.config'
includeConfig 'conf/plugins.config'

profiles {
    standard {
        includeConfig 'conf/resources.config'
        includeConfig 'conf/reporting.config'
    }

    condo_trowan1 {
        includeConfig 'conf/isaac.config'
        includeConfig 'conf/reporting.config'
    }

    exploratory {
        params {
            exploratoryTag    = 'exploratory'
            publishDirData    = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}_${params.exploratoryTag}/data"
            publishDirReports = "${launchDir}/exploratory/${timestamp}_${params.projectTitle}_${params.exploratoryTag}/reports"
            publishMode       = 'symlink'
        }
        resume = true
        includeConfig 'conf/reporting.config'
    }

    nf_test {
        includeConfig 'conf/nf_test.config'
    }

    smartSeq3DE {
        // trim polyG and polyA sequences specifically
        params.adapterFasta = "${projectDir}/assets/smart-seq-3de-adapters.fasta"
        // don't write R2 reads to samplesheet
        params.writeR2ToSamplesheet = false
    }
}
