profiles {
    nf_test {
        params {
            projectTitle  = 'rnaseq_nf-test'
            samplesheet   = "${projectDir}/tests/data/samplesheets/mixed-ends_lanes.csv"
            genome        = "${projectDir}/tests/data/references/R64-1-1/genome_I.fa.gz"
            annotations   = "${projectDir}/tests/data/references/R64-1-1/annotations_I.gtf.gz"
        }
        
        singularity {
            enabled = true
            cacheDir = "${SCRATCHDIR}/singularity/"
            autoMounts = true
        }

        process {
            /*
            Resource request configs
            */
            resourceLimits = [
                cpus:   2,
                memory: 4.GB,
                time:   15.min
            ]
        }
    }
}
